<p *ngIf="!editMode" class="persons-property">{{person.fName}}</p>
<p *ngIf="!editMode" class="persons-property">{{person.lName}}</p>
<p *ngIf="!editMode" class="persons-property">{{person.year}}</p>

<p *ngIf="editMode">
    <input  type="text" class="form-control edit-box"
            [(ngModel)]="person.fName">
</p>
<p *ngIf="editMode">
    <input  type="text" class="form-control"
            [(ngModel)]="person.lName">
</p>
<p *ngIf="editMode">
    <input  type="text" class="form-control"
            [(ngModel)]="person.year">
</p>

<!-- Hide "Remove" and "Edit" btns when in editMode -->
<button *ngIf="!editMode"
        (click)="removePerson()">Remove</button>

<button *ngIf="!editMode"
        (click)="editPerson()">Edit</button>

<!-- Show btns when in editMode -->
<button *ngIf="editMode"
        (click)="cancelEditPerson()">Cancel</button>
<button *ngIf="editMode"
        (click)="updatePerson()">Update</button>

